<!DOCTYPE html>
<html>
    <head>
      <title>Chatter | login</title>
    </head>

    <body>
      <h2>Login</h2>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <form name="login" action="{% url 'login' %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit">Login</button>
      </form>
      <a href="{% url 'create' %}">Create Account</a>
    </body>
</html>